/* GLOBAL */
:root {
    --siteMajor: #3c97cd;
    --siteMinor: #50b143;
    --siteBar: #22272c;

    --fontMajor: 'Barlow', sans-serif, bold;
    --fontMinor: 'Barlow', sans-serif;
}

.about-tile {
    display: flex;
    flex-direction: row;
    min-height: 500px;
    min-width: 1000px;
    gap: 50px;
    margin-top: 50px;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.tile-info {
    display: flex;
    flex-direction: column;
}

.about-tile img {
    max-width: 450px;
    border-radius: 20px;
}

.tile-info p {
    text-align: justify;
}

.about-tile-office {
    display: flex;
    flex-direction: row;
    min-height: 300px;
    margin-top: 50px;
    min-width: 1000px;
    gap: 50px;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}

.about-tile-office img {
    max-width: 650px;
    border-radius: 20px;
}