/* GLOBAL */
:root {
    --siteMajor: #3c97cd;
    --siteMinor: #50b143;
    --siteBar: #22272c;

    --fontMajor: 'Barlow', sans-serif, bold;
    --fontMinor: 'Barlow', sans-serif;
}

p { 
    font-family: var(--fontMajor);
    font-size: 24px;
}

h2 {
    text-align: center;
}

h3 {
    font-family: var(--fontMajor);
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: grey;
    text-align: center;
}

body {
    background-color: whitesmoke;
    margin: 0px;
}

.blog-space {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 75px;
}

.blog-post {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.blog-post img {
    border-radius: 20px;
    max-width: 1000px; 
}

.blog-post p {
    font-size: 20px;
    text-align: justify;
}

.blog-navigation {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.blog-navigation a {
    font-family: var(--fontMinor);
    font-size: 30px;
    font-weight: bold;
    color: grey;
    text-decoration: none;
    transition: all .2s ease-in-out
}

.blog-navigation a:hover {
    transform: scale(1.1);
    color: var(--siteMajor);
}

.comments-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment-tile h2 {
    font-size: 25px;
    text-align: left;
}

.comment-tile h3 {
    text-align: left;
}

.comment-tile {
    background-color: #f1edf2;
    padding: 20px;
}

.comment-tile p {
    font-size: 20px;
}

.add-comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    max-width: 600px;
    margin-top: 20px;
}

.add-comment input {
    width: 500px;
    height: 40px;
    font-family: var(--fontMajor);
    font-size: 20px;
}

.add-comment textarea {
    width: 500px;
    height: 200px;
    font-family: var(--fontMajor);
    font-size: 20px;
}

.input-button {
    background-color: var(--siteMajor);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    max-width: 200px;
}

.input-button:hover {
    transform: scale(1.1);
}

.blog-separator hr {
    height: 5px;
    background-color: #3c97cd;
    border-width: 0px;
    border-radius: 5px;
    max-width: 1000px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 5;
    margin-left: 50px;
    margin-right: 50px;
}
.div2 {
    grid-area: 1 / 5 / 2 / 6;
    width: 250px;
}

.nav-tile {
    background-color:#f1edf2;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    border-radius: 20px;
    place-self: center;
    max-width: 250px;
    margin-top: 125px;
}

.nav-tile a {
    text-decoration: none;
}

.nav-tile h3 {
    text-align: left;
    margin-left: 10px;
    transition: all .2s ease-in-out
}

.nav-tile h3:hover {
    transform: scale(1.1);
}

.socials-tile {
    background-color:#f1edf2;
    padding: 20px;
    position: fixed;
    border-radius: 20px;
    place-self: center;
    align-self: center;
    justify-self: center;
}

.side-bar {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
}

.success-alert {
    background-color: var(--siteMinor);
    padding: 20px;
    opacity: 0.8;
}

.success-alert h2 {
    font-size: 25px;
    text-align: left;
    color: white;
}

.success-alert p {
    font-size: 20px;
    color: white;
}

/* SOCIAL MEDIA ICONS */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

@media only screen and (max-width: 1600px)
{
    .side-bar {
         margin-top: 25px;
    }
}

@media only screen and (max-width: 991px)
{
    .side-bar {
         display: none;
    }
}