/* GLOBAL */
:root {
    --siteMajor: #3c97cd;
    --siteMinor: #50b143;
    --siteBar: #22272c;

    --fontMajor: 'Barlow', sans-serif, bold;
    --fontMinor: 'Barlow', sans-serif;
}

p {
    font-family: var(--fontMajor);
    font-size: 24px;
}

h1 {
    font-family: var(--fontMajor);
    font-size: 75px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    color: whitesmoke;
}

h2 {
    font-family: var(--fontMajor);
    font-size: 45px;
    margin-bottom: 0px;
    margin-top: 0px;
}

hr {
    height: 5px;
    background-color: #3c97cd;
    border-width: 0px;
    border-radius: 5px;
    max-width: 450px;
}

body {
    background: #3C97CD;
    background: #66A9D0;
    background: -webkit-linear-gradient(bottom right, #66A9D0, #85C07D);
    background: -moz-linear-gradient(bottom right, #66A9D0, #85C07D);
    background: linear-gradient(to top left, #66A9D0, #85C07D);
    margin: 0px;
}

/* VERTICAL PANEL */
.vertical-panel {
    display: flex;
    flex-direction: column;
}

.vertical-panel img {
    height: 300px;
    margin-top: 50px;
}


/* TILES PANEL*/
.tiles-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 50px;
}

.tile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 15px;
    min-height: 150px;
    min-width: 600px;
    max-width: 600px;
    background-color: whitesmoke;
    transition: all .2s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tile:hover {
    transform: scale(1.05);
}

.tile img {
    margin-left: 30px;
    margin-right: 50px;
    width: 200px;
    height: 200px;
}


.tile p {
    margin: 0px;
    font-size: 35px;
    font-weight: bold;
    align-self: center;
    text-align: left;
}

/* BUTTON */
.input-button {
    background-color: var(--siteMinor);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.input-button:hover {
    transform: scale(1.1);
}

.delete-button {
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.delete-button:hover {
    transform: scale(1.1);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

/* EDIT PANEL */
.edit-panel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    padding: 50px;
}

.edit-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px;
    min-height: 400px;
    min-width: 600px;
    max-width: 600px;
    background-color: whitesmoke;
    transition: all .2s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-title {
    width: 500px;
    height: 75px;
    font-family: var(--fontMajor);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.input-content {
    width: 500px;
    height: 400px;
    font-family: var(--fontMajor);
    font-size: 18px;
    text-align: left;
    padding: 10px;
}

/* REVIEW PANEL */
.review-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    padding: 50px;
}

.review-tile {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    min-height: 200px;
    min-width: 200px;
    background-color: whitesmoke;
    transition: all .2s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-name {
    font-family: var(--fontMajor);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.input-discipline {
    font-family: var(--fontMajor);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.input-opinion {
    font-family: var(--fontMajor);
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "block-grid element-grid";
  }

  .static-grid { grid-area: block-grid; }

  .review-grid { grid-area: element-grid; }

  /* PARTNER PANEL */
.partner-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    padding: 50px;

}

.partner-tile {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    min-height: 200px;
    min-width: 200px;
    background-color: whitesmoke;
    transition: all .2s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-org {
    font-family: var(--fontMajor);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.input-image {
    font-family: var(--fontMajor);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.input-description {
    font-family: var(--fontMajor);
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

 /* METHOD PANEL */
.method-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    padding: 50px;

}

.method-tile {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    min-height: 200px;
    min-width: 200px;
    background-color: whitesmoke;
    transition: all .2s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a:link {
 text-decoration: none;
 color: black;
}

a:visited {
 text-decoration: none;
 color: black;
}

a:hover {
 text-decoration: none;
 color: black;
}

a:active {
 text-decoration: none;
 color: black;
}