:root {
    --siteMajor: #3c97cd;
    --siteMinor: #50b143;

    --fontMajor: 'Barlow', sans-serif, bold;
    --fontMinor: 'Barlow', sans-serif;

    --imgWidthPC: 759px;
    --imgHeightPC: 682px;

    --imgWidthLaptop: 600px;
    --imgHeightLaptop: 540px;

    --imgWidthMobile: 100%;/*400px;*/
    --imgHeightMobile: 100%;/*360px;*/
}

/* LOL */
.slider {
    width: var(--imgWidthPC);
    height: var(--imgHeightPC);
    overflow: hidden;
 }

.slides {
    width: 500%;
    height: var(--imgHeightPC);
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: var(--imgWidthPC);
    height: var(--imgHeightPC);
}

  /*css for manual slide navigation*/

.navigation-manual {
    position: absolute;
    width: var(--imgWidthPC);
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #40D3DC;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

  /*css for automatic navigation*/

.navigation-auto{
    position: absolute;
    display: flex;
    width: var(--imgWidthPC);
    justify-content: center;
    margin-top: -40px;
}

.navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: var(--siteMajor);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: var(--siteMajor);
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: var(--siteMajor);
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: var(--siteMajor);
}

@media only screen and (max-width: 1400px)
{
    .slider {
        width: var(--imgWidthLaptop);
        height: var(--imgHeightLaptop);
    }

    .slides {
        height: var(--imgHeightLaptop);
    }

    .slide img {
        width: var(--imgWidthLaptop);
        height: var(--imgHeightLaptop);
    }

    .navigation-manual {
        width: var(--imgWidthLaptop);
    }

    .navigation-auto {
        width: var(--imgWidthLaptop);
    }
}

@media only screen and (max-width: 991px)
{
    .slider {
        width: var(--imgWidthMobile);
        height: var(--imgHeightMobile);
    }

    .slides {
        height: var(--imgHeightMobile);
    }

    .slide img {
        width: var(--imgWidthMobile);
        height: var(--imgHeightMobile);
    }

    .navigation-manual {
        width: var(--imgWidthMobile);
    }

    .navigation-auto {
        width: var(--imgWidthMobile);
        display: none;
    }
}