:root {
    --siteMajor: #3c97cd;
    --siteMinor: #50b143;

    /*
    --fontMajor: Arial, Helvetica, sans-serif;
    --fontMinor: Arial, Helvetica, sans-serif;
    */

    --fontMajor: 'Barlow', sans-serif, bold;
    --fontMinor: 'Barlow', sans-serif;

    /* Mobile display */
    --gridH1: 160px;
    --majorH1: 120px;
    --mobileH1: 95px;
    --mobileH2: 60px;
    --mobileH3: 40px;
    --mobileP: 34px;
 }

/* GLOBAL */
html {
    scroll-behavior: smooth;
}

h1 {
    font-family: var(--fontMajor);
    font-size: 75px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

h2 {
    font-family: var(--fontMajor);
    font-size: 35px; /* testink */
    margin-bottom: 0px;
    margin-top: 0px;
}

h3 {
    font-family: var(--fontMajor);
    margin-bottom: 15px;
    margin-top: 15px;
    color: grey;
    text-align: center;
    font-size: 26px;
}

body {
    background-color: whitesmoke;
    margin: 0;
    opacity: 0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s; /* Safari */
}

hr {
    height: 5px;
    background-color: var(--siteMajor);
    border-width: 0px;
    border-radius: 5px;
    max-width: 450px;
}

p {
    font-family: var(--fontMinor);
    font-size: 22px; /* was 24 */
}

a {
    font-family: var(--fontMinor);
    font-weight: bold;
    color: grey;
    text-decoration: none;
    font-size: 22px;
}

a:hover {
    color: var(--siteMajor);
}

/* HEADER */
.header {
    display: block;
    background-color: white;
    min-height: 100px;
    position: sticky;
    top: 0px;
    z-index: 99;
}

.quick-contact-flex {
    display: flex;
    flex-direction: row;
    gap: 45px;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

#quick-contact-phone {
    color: var(--siteMajor);
    margin-right: 10px;
    font-size: 30px;
}

#quick-contact-address {
    color: gray;
    margin-right: 10px;
    font-size: 20px;
}

.navigation-link-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 30px;
    align-items: center;
    padding: 10px''
}

.flex-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-header a {
    font-family: var(--fontMinor);
    font-size: 20px;
    font-weight: bold;
    color: grey;
    text-decoration: none;
    transition: all .2s ease-in-out
}

.flex-header a:hover {
    transform: scale(1.1);
    color: var(--siteMajor);
}

.flex-header img {
    margin-left: 50px;
}

#logo-image {
    width: 85px;
    height: 85px;
}

.separator {
    background-color: var(--siteMajor);
    min-height: 35px;
}


/* WELCOME */
.flex-welcome-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-welcome-block hr {
    max-width: 450px;
}

.welcome-text {
    background-color: white;
    margin: auto;
}

.welcome-text p {
    max-width: 450px;
    text-align: center;
    margin-top: 25px;
    font-size: 26px;
}

.wrapper {
    margin-left: 175px;
    margin-right: 175px;
    background-color: white;
}


/* IMAGE BLOCK */
.image-separator {
    height: 800px;
    background-image: url("images/background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-text {
    background-color: white;
    padding: 40px;
}

.image-text p {
    max-width: 500px;
    text-align: center;
}


/* GRID */
.container {
    margin-top: 25px;
    display: grid;
    justify-content: start;
    grid-template-rows: auto auto auto;
    grid-template-columns: 500px 50px 500px;
    justify-content: center;
    column-gap: 20px;
    grid-template-areas:
      "grid-left grid-middle grid-right"
      ". . ."
      ". . .";
}

.container-mobile {
    display: none;
}

.grid-left {
    grid-area: grid-left;
    justify-self: right;
}

.grid-middle {
    grid-area: grid-middle;
    justify-self: center;
    align-self: center;
}

.grid-right {
    grid-area: grid-right;
    justify-self: left;
}


/* LEFT GRID */
.grid-left h1 {
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: right;
    font-size: 125px;
}

.grid-left h2 {
    text-align: right;
    font-weight: lighter;
    margin-top: 0px;
}

.grid-left p {
    text-align: right;
}

.mateusz {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.mateusz img {
    max-width: 350px;
    align-self: flex-end;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mateusz h2 {
    margin-top: 0px;
}

.methods {
    display: flex;
    flex-direction: column;
}

.methods h1 {
    margin-top: 150px;
    margin-bottom: 0px;
}

.methods h2 {
    margin-top: 0px;
}

.methods img {
    max-width: 450px;
    align-self: flex-end;
    border-radius: 20px;
    margin-bottom: 20px;
    z-index: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left-therapy-block {
    margin-top: 25px;
    background-color: #f1edf2;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    transition: ease-in 0.5s;
    float: right;
    max-width: 500px;
}

.left-therapy-block:hover {
    transform: scale(1.05);
}

.left-therapy-block h2 {
    font-weight: lighter;
    padding: 5px;
    padding-left: 10px;
}

/* RIGHT GRID */
.grid-right h1 {
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: left;
    font-size: 125px;
}

.grid-right h2 {
    text-align: left;
    font-weight: lighter;
    margin-top: 0px;
}

.grid-right p {
    text-align: left;
}

.social-media {
    margin-top: 150px;
}

.social-media h1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.social-media img {
    margin-left: 300px; /* a fucking hack*/
}

.karol {
    margin-top: 75px;
    display: flex;
    flex-direction: column;}

.karol img {
    max-width: 350px;
    align-self: flex-start;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.karol h2 {
    margin-top: 0px;
}

.therapy-right {
    margin-top: 100px;
}

.right-therapy-block {
    margin-top: 25px;
    background-color: #f1edf2;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    transition: ease-in 0.5s;
    max-width: 500px;
}

.right-therapy-block:hover {
    transform: scale(1.1);
}

.right-therapy-block h2 {
    font-weight: lighter;
}

.contact h1 {
    margin-top: 100px;
}

.contact h2 {
    margin-bottom: 20px;
}

.contact img {
    max-width: 250px;
    border-radius: 20px;
    margin-top: 50px;
}

#phone {
    font-weight: bolder;
    color: var(--siteMajor);
}

.location {
    margin-top: 125px;
}


/* PARTNERS */
.partners-separator {
    margin-top: 75px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--siteMajor);
}

.partners-separator h1 {
    font-family: var(--fontMajor);
    font-size: 125px;
    font-weight: bold;
    text-align: center;
    color: #f1edf2;
}

.flex-partners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
    margin-top: 0px;
    padding: 50px;
}

.flex-partner-block {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-content: space-around;
    row-gap: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    border-radius: 20px;
    background-color: #f1edf2;
    transition: ease-in 0.5s;
    max-width: 350px;
    max-height: 650px;
}

.flex-partner-block:hover {
    transform: scale(1.05);
}

.flex-partner-block img {
    width: 200px;
    border-radius: 50%;
    align-self: center;
    margin: 0px;
}

.flex-partner-block hr {
    margin: 0px;
    align-self: center;
}

.flex-partner-block h2 {
    text-align: center;
    margin: 0px;
    align-self: center;
}

.flex-partner-block p {
    text-align: center;
    align-self: center;
}

.karol p {
    text-align: left;
}

.mateusz p {
    text-align: right;
    max-width: 700px;
    align-self: flex-end;
}

.instagram-posts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    flex-wrap: wrap;
}


/* RECOMMENDATIONS */
.recommendations {
    margin-top: 50px;
    padding-top: 25px;
    background-color: var(--siteMajor);
}

.recommendations h1 {
    font-size: 125px;
    color: #f1edf2;
}

.recommendations-table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 100px;
}

/* TABLE */
table {
    width: 1200px;
    border: none;
    border-top: 1px solid #EEEEEE;
    font-family: var(--fontMinor);
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #EEEEEE;
    border-top: none;
    text-align: left;
    padding: 8px;
    color: #363D41;
    font-family: var(--fontMinor);
    font-size: 30px;
}

/* #f1edf2 */
tr {
    background-color: #fff;
    border: none;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: flex-start;
}

tr:first-child:hover {
    cursor: default;
    background-color: #fff;
}

tr:hover {
    background-color: #EEF4FD;
}

.expanded-row-content {
    border-top: none;
    display: grid;
    grid-column: 1/-1;
    justify-content: flex-start;
    color: grey;
    background-color: #fff;
    font-family: var(--fontMinor);
    padding: 30px;
    font-size: 22px;
}

.hide-row {
    display: none;
}


/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer img {
    align-self: center;
}


/* REVEAL PRESENTATION */
.revealcol {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.revealcol.active {
    transform: translateY(0px);
    opacity: 1;
}

.revealrowright {
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: all 2s ease;
}

.revealrowright.active {
    transform: translateX(0px);
    opacity: 1;
}

.revealrowleft {
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: all 2s ease;
}

.revealrowleft.active {
    transform: translateX(0px);
    opacity: 1;
}

.mateusz a {
    font-family: var(--fontMinor);
    font-size: 20px;
    font-weight: bold;
    color: grey;
    text-decoration: none;
    transition: all .2s ease-in-out
    text-align: right;
    text-align: end;
    align-self: flex-end;
}

.mateusz a:hover {
    color: var(--siteMajor);
}

.karol a {
    font-family: var(--fontMinor);
    font-size: 20px;
    font-weight: bold;
    color: grey;
    text-decoration: none;
    transition: all .2s ease-in-out
    justify-self: flex-end;
}

.karol a:hover {
    color: var(--siteMajor);
}

.mobile-header {
    display: none;
}

/* DROPDOWN FOR MOBILE */
.dropbtn {
  background-color: var(--siteMajor);
  min-width: 200px;
  color: white;
  padding: 5px;
  font-size: var(--mobileP);
  border: none;
  cursor: pointer;
  font-family: var(--fontMinor);
}

.dropdown {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 200px;
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  opacity: 0.7;
}

/* SOCIAL MEDIA ICONS */
.fa {
    padding: 20px;
    width: 100px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 15px;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
    border-radius: 15px;
}

.home-socials-tile {
    margin-left: 300px; /* a fucking hack, making everything float right fixes*/
}

@media only screen and (max-width: 1600px)
{
    .wrapper {
         margin-left: 0px;
         margin-right: 0px;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 20px;
    }

    a {
        font-size: 20px;
    }

    .header {
        min-height: 75px;
    }

    #logo-image {
        width: 75px;
        height: 75px;
    }

    .separator {
        min-height: 20px;
    }

    .mateusz a {
        font-size: 20px;
    }

    .karol a {
        font-size: 20px;
    }

    .welcome-text p {
        font-size: 24px;
    }

    hr {
        height: 5px;
        border-width: 0px;
        border-radius: 5px;
        max-width: 450px;
    }

    .revealrowright {
        transform: translateX(75px);
    }

    .revealrowleft {
        transform: translateX(-75px);
    }
}

@media only screen and (max-width: 1400px)
{
    /* ROOT */
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 15px;
    }

    a {
        font-size: 15px;
    }

    .mateusz a {
        font-size: 15px;
    }

    .karol a {
        font-size: 15px;
    }

    .welcome-text p {
        font-size: 18px;
    }

    /* HEADER*/
    .header {
        min-height: 65px;
    }

    #logo-image {
        width: 65px;
        height: 65px;
    }

    .separator {
        min-height: 15px;
    }

    .flex-header a {
        font-family: var(--fontMinor);
        font-size: 17px;
        font-weight: bold;
        color: grey;
        text-decoration: none;
        transition: all .2s ease-in-out
    }

    #quick-contact-phone {
        color: var(--siteMajor);
        margin-right: 10px;
        font-size: 25px;
    }

    #quick-contact-address {
        color: gray;
        margin-right: 10px;
        font-size: 17px;
    }

    /* IMAGE SEPARATOR */
    .image-separator {
        height: 600px;
    }

    .image-text p {
        max-width: 400px;
    }

    /* GRID */
    .grid-left h1 {
        font-size: 80px;
    }

    .grid-middle img {
        align-self: start;
        height: 2750px;
    }

    .grid-right h1 {
        font-size: 80px;
    }

    .mateusz img {
        max-width: 250px;
    }

    .karol img {
        max-width: 250px;
    }

    .methods img {
        max-width: 400px;
    }

    .methods h1 {
        margin-top: 75px;
    }

    .home-socials-tile {
        margin-left: 200px;
    }

    .location iframe {
        width: 500;
        height: 300;
    }

    /* PARTNERS */
    .partners-separator {
        margin-top: 50px;
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: var(--siteMajor);
    }

    .partners-separator h1 {
        font-size: 80px;
    }

    .flex-partners {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 25px;
        flex-wrap: wrap;
    }

    .flex-partner-block {
        max-width: 275px;
        max-height: 475px;
    }

    .flex-partner-block img {
        width: 150px;
        border-radius: 50%;
    }

    /* RECOMMENDATIONS */
    .recommendations h1 {
        font-size: 80px;
    }

    /* TABLE */
    table {
        width: 800px;
    }

    td,
    th {
        font-size: 18px;
    }

    .expanded-row-content {
        font-size: 15px;
    }

    /* BLOG */
    .blog-navigation span {
        font-size: 18px;
    }

    .nav-span {
        font-size: 18px;
    }

    .add-comment input {
        font-size: 15px;
    }

    .add-comment textarea {
        font-size: 15px;
    }

    .comment-tile h2 {
        font-size: 18px;
        text-align: left;
    }

    .comment-tile h3 {
        font-size: 15px;
        text-align: left;
    }

    .input-button {
        font-size: 15px;
    }

    .success-alert h2 {
        font-size: 18px;
    }

    /* DEFAULT BLOG STYLES */
    .blog-content img {
        width: 500px;
    }

    .about-tile-office img {
        width: 450px;
    }

    .about-tile {
        margin-left: 100px;
        margin-right: 100px;
    }

    /* SCROLL */
    .revealrowright {
        transform: translateX(50px);
    }

    .revealrowleft {
        transform: translateX(-50px);
    }

    .footer img {
        transform: scale(0.8);
    }
}

/* PHONE DISPLAY */
@media only screen and (max-width: 991px)
{
    /* HEADER */
    .header {
         display: none;
    }

    .mobile-header {
        display: block;
        background-color: white;
        height: 75px;
        position: sticky;
        top: 0px;
        z-index: 99;
    }

    .separator {
        background-color: var(--siteMajor);
        min-height: 20px;
    }

    /* ROOT */
    h1 {
        font-size: var(--mobileH1);
    }

    h2 {
        font-size: var(--mobileH2);
    }

    h3 {
        font-size: var(--mobileH3);
    }

    p {
        font-size: var(--mobileP);
    }

    a {
        font-size: var(--mobileP);
    }

    .mateusz a {
        font-size: var(--mobileP);
    }

    .karol a {
        font-size: var(--mobileP);
    }

    .welcome-text p {
        font-size: var(--mobileP);
    }

    .container-mobile h1 {
        font-size: var(--gridH1);
    }

    /* HEADER*/
    .flex-header a {
        font-family: var(--fontMinor);
        font-size: var(--mobileP);
        font-weight: bold;
        color: grey;
        text-decoration: none;
        transition: all .2s ease-in-out
    }

    #quick-contact-phone {
        color: var(--siteMajor);
        margin-right: 10px;
        font-size: var(--mobileP);
    }

    #quick-contact-address {
        color: gray;
        margin-right: 10px;
        font-size: var(--mobileP);
    }

    /* IMAGE SEPARATOR */
    .image-separator {
        height: 800px;
    }

    .image-text p {
        max-width: 750px;
    }

    /* GRID */
    .grid-left h1 {
        font-size: 125px;
    }

    .grid-middle img {
        align-self: start;
        height: 3750px;
    }

    .grid-right h1 {
        font-size: 120px;
    }

    .mateusz img {
        max-width: 350px;
    }

    .mateusz p {
        max-width: 400px;
    }

    .karol img {
        max-width: 350px;
    }

    .karol p {
        max-width: 400px;
    }

    .methods img {
        max-width: 350px;
    }

    .methods h1 {
        margin-top: 80px;
    }

    .methods p {
        max-width: 400px;
        align-self: flex-end;
    }

    .left-therapy-block {
        max-width: 325px;
    }

    .right-therapy-block {
        max-width: 325px;
    }

    .home-socials-tile {
        margin-left: 210px;
    }

    .location {
        margin-top: 0px;
    }

    .location iframe {
        width: 350;
        height: 500;
        float: right;
    }

    /* PARTNERS */
    .partners-separator {
        margin-top: 50px;
        padding-bottom: 25px;
        background-color: var(--siteMajor);
    }

    .partners-separator h1 {
        font-size: var(--majorH1);
    }

    .flex-partners {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 15px;
        flex-wrap: wrap;
    }

    .flex-partner-block {
        max-width: 300px;
        max-height: 1000px;
    }

    .flex-partner-block img {
        width: 200px;
        border-radius: 50%;
    }

    /* RECOMMENDATIONS */
    .recommendations h1 {
        font-size: var(--majorH1);
    }

    /* TABLE */
    table {
        width: 900px;
    }

    td,
    th {
        font-size: var(--mobileP);
    }

    .expanded-row-content {
        font-size: var(--mobileP);
    }

    /* BLOG */
    .blog-navigation span {
        font-size: var(--mobileP);
    }

    .add-comment input {
        font-size: var(--mobileP);
    }

    .add-comment textarea {
        font-size: var(--mobileP);
    }

    .comment-tile h2 {
        font-size: var(--mobileP)px;
        text-align: left;
    }

    .comment-tile h3 {
        font-size: var(--mobileP);
        text-align: left;
    }

    .input-button {
        font-size: var(--mobileP);
    }

    .success-alert h2 {
        font-size: var(--mobileP);
    }

    /* DEFAULT BLOG STYLES */
    .blog-content img {
        width: 700px;
    }

    /* ABOUT */
    .about-tile img {
        width: 250px;
    }

    .about-tile-office img {
        width: 500px;
    }

    .about-tile {
        margin-left: 0px;
        margin-right: 0px;
    }

    .footer img {
        transform: scale(1);
    }

    /* SCROLL */
    .revealrowright {
        transform: translateX(50px);
    }

    .revealrowleft {
        transform: translateX(-50px);
    }

    /* REWORK POSITIONING */
    .flex-welcome-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .welcome-text {
        margin-top: 50px;
        margin-bottom: 50px;
        padding-top: 30px;
        padding-bottom: 30px;
        max-width: 750px;
    }

    .welcome-text p {
        max-width: 750px;
    }

    /* NEW CONTAINER TESTING */

    .container {
        display: none;
    }

    .container-mobile {
        display: flex;
        flex-direction: column;
    }

    .home-socials-tile {
        margin-left: 0px;
        align-self: center;
    }

    .social-media {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .social-media h1 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .mateusz {
        display: flex;
        flex-direction: column;
    }

    .mateusz img {
        max-width: 500px;
        align-self: center;
        border-radius: 20px;
        margin-top: 0px;
    }

    .mateusz h2 {
        align-self: center;
        text-align: center;
    }

    .mateusz a {
        text-align: center;
        align-self: center;
    }

    .mateusz p {
        text-align: justify;
        max-width: 100%;
        margin-left: 50px;
        margin-right: 50px;
        align-self: center;
    }

    .karol {
        display: flex;
        flex-direction: column;
    }

    .karol img {
        max-width: 500px;
        align-self: center;
        border-radius: 20px;
        margin-top: 0px;
    }

    .karol h2 {
        align-self: center;
        text-align: center;
    }

    .karol a {
        text-align: center;
        align-self: center;
    }

    .karol p {
        text-align: justify;
        max-width: 100%;
        margin-left: 50px;
        margin-right: 50px;
        align-self: center;
    }

    .methods {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .methods h1 {
        margin-top: 0px;
        margin-bottom: 0px;
        justify-self: center;
        text-align: center;
    }

    .methods p {
        justify-self: center;
        align-self: center;
        text-align: center;
        float: center;
        max-width: 100%;
        margin-left: 50px;
        margin-right: 50px;
    }

    .methods h2 {
        margin-top: 0px;
        justify-self: center;
        text-align: center;
    }

    .methods img {
        max-width: 750px;
        align-self: center;
    }

    .therapy-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        margin-top: 40px;
    }

    .therapy-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }

    .left-therapy-block {
        margin-top: 0px;
        float: center;
        max-width: 100%;
        margin-left: 50px;
        margin-right: 50px;
    }

    .therapy-right {
        margin-top: 40px;
    }

    .right-therapy-block {
        margin-top: 0px;
        max-width: 100%;
        margin-left: 50px;
        margin-right: 50px;
    }

    .location {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .location iframe {
        width: 700px;
        height: 700px;
        float: center;
        justify-self: center;
        margin-left: auto;
        margin-right: auto;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .contact h1 {
        margin-top: 0px;
    }

    .contact h2 {
        margin-bottom: 0px;
    }

    .contact {
        margin-top: 50px;
        margin-bottom: 25px;
    }

    .contact h2 {
        font-size: var(--mobileH2);
        font-weight: lighter;
    }

    #phone {
        font-size: 60px;
    }

    .flex-partner-block {
        max-width: 700px;
        max-height: 1000px;
        justify-content: center;
        align-items: center;
    }

    .flex-partners {
        gap: 50px;
    }

    .instagram-posts {
        display: none;
    }

    .image-separator {
        height: 1000px;
    }

    .footer img {
        transform: scale(1.3);
    }

    /* SCROLL */
    .revealrowright {
        transform: translateX(5px);
    }

    .revealrowleft {
        transform: translateX(-5px);
    }
}