<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="title" content="DoFizjo – fizjoterapia w Bydgoszczy, blog z pasją dla fizjoterapii">
    <meta name="description" content="Zespół oferujący usługi fizjoterapeutyczne w Bydgoszczy. Leczenie urazów, schorzeń dla sportowców, osób aktywnych fizycznie oraz pracowników biurowych">
    <meta name="keywords" content="bydgoszcz, fizjoterapia, fizjoterapeuta, dofizjo, kujawsko-pomorskie, masaż, kinozyterapia, anatomy trains, metoda pnf, pinoterapia, kinesiology taping, masaż bańką chińską, suche igłowanie, kinezyterapia, terapia skojarzona, terapia powięziowa, korekcja wad postawy, kinesiotaping, masaż klasyczny, terapia bańkami chińskimi, wizyty domowe, mma, muay thai, k1, kalistenika, trójbój, sport, zawody, przygotowanie ">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Polish">

    <title>Blog</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="stylesheet" th:href="@{/blog-styles.css}">
    <link rel="stylesheet" th:href="@{/about-styles.css}">
    <link rel="icon" th:href="@{/images/dofizjoicon.ico}">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap" rel="stylesheet">
</head>

<body style="opacity:1;">

<!-- HEADER -->
<div class="header">
    <div class="flex-header">
        <div class="quick-contact-flex">
            <a href="#link" id="quick-contact-address" th:text="${lokalizacja.title}"> address </a>
            <a href="#link" id="quick-contact-phone" th:text="${kontakt.title}"> phone </a>
        </div>
        <div class="navigation-link-flex">
            <a th:href="@{/}">zapraszamy</a>
            <a th:href="@{/office}">dla firm</a>
            <a th:href="@{/wiecej}">o nas</a>
            <a th:href="@{/blog}">blog</a>
            <a th:href="@{/}">rekomendacje</a>
            <a th:href="@{/}">partnerzy</a>
            <img th:src="@{/images/logo.png}" width="85" height="85">
        </div>
    </div>
    <div class="separator"></div>
</div>

<!-- WRAPPER -->
<div class="wrapper">
    <div class="blog-space">
        <div class="blog-post">
            <h1> więcej o nas </h1>
            <div>
                <hr>
            </div>
            <div class="about-tile">
                <img th:src="@{images/mateusz.jpg}">
                <div class="tile-info">
                    <h2 th:text="${mateusz.title}"> mateusz </h2>
                    <p th:text="${mateusz.content}"> opis </p>
                </div>
            </div>
            <div class="about-tile">
                <div class="tile-info">
                    <h2 th:text="${karol.title}"> mateusz </h2>
                    <p th:text="${karol.content}"> opis </p>
                </div>
                <img th:src="@{images/karol.jpg}">
            </div>
            <div class="about-tile">
                <img th:src="@{images/rafal.jpg}">
                <div class="tile-info">
                    <h2 th:text="${rafal.title}"> mateusz </h2>
                    <p th:text="${rafal.content}"> opis </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <img th:src="@{/images/footer.png}">
</div>

</body>
</html>