<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{/styles.css}">
        <link rel="stylesheet" th:href="@{/blog-styles.css}">

        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body onload="document.body.style.opacity='1'">
        <!-- HEADER -->
        <div class="header">
            <div class="flex-header">
                <div class="quick-contact-flex">
                    <a href="#link" id="quick-contact-address">ul. Gdańska 28/4</a>
                    <a href="#link" id="quick-contact-phone">+48 731 278 308</a>
                </div>
                <a href="#link">o nas</a>
                <a href="#link">oferta</a>
                <a href="#link">rekomendacje</a>
                <a href="#link">kontakt</a>
                <a href="#link">blog</a>
                <img src="resources/logo.png" width="85" height="85">
            </div>
            <div class="separator"></div>
        </div>

        <!-- WRAPPER -->
        <div class="wrapper">
            <div class="blog-space">
                <div class="blog-post">
                    <h1> Diagnoza odcinka lędźwiowego </h1>
                    <div>
                        <hr>
                    </div>
                    <h3> Mateusz, 18.02.2022 </h3>
                    <p>
                        <p style="text-align:center;"><img src="resources/6.jpg"></p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sollicitudin purus sed nibh pharetra, ultricies pellentesque est blandit. Phasellus mattis justo ut leo condimentum fringilla. Suspendisse potenti. Nunc volutpat nisl dolor, nec consectetur ipsum venenatis at. Sed porta turpis lacus, at dapibus ipsum consequat et. Maecenas tincidunt lectus lacus, et dictum neque ornare et. Vestibulum id ligula diam. Nulla sit amet velit odio. Praesent ultricies nisi sed leo elementum, vitae vestibulum risus consequat. Quisque scelerisque iaculis rutrum. Phasellus volutpat auctor nulla at facilisis. In hac habitasse platea dictumst. Quisque dapibus tincidunt ex, sit amet rhoncus mi gravida eu. Vivamus vel efficitur nibh. Pellentesque viverra erat in tortor maximus dapibus.
                        </br> </br>
                            Ut porttitor venenatis tortor, ac fermentum nunc bibendum ut. Etiam cursus ante et vulputate consequat. Duis dictum in sem a porttitor. Etiam ac imperdiet sapien. Pellentesque sit amet arcu in augue tempus convallis. Pellentesque et felis sagittis, bibendum metus sed, malesuada metus. Integer maximus, nibh convallis sollicitudin consequat, leo ipsum convallis magna, a pharetra diam neque volutpat orci. Nullam vel elit ac dolor tristique varius sit amet quis purus.
                        </br> </br>
                            Donec a ornare urna, id sollicitudin tortor. Nullam eget feugiat mauris, eget efficitur leo. Sed interdum orci sit amet nisl maximus, ac varius lectus lobortis. Mauris euismod ligula sit amet lacus rhoncus maximus. Mauris viverra, arcu at viverra venenatis, tortor sapien venenatis ante, eu consectetur dui justo non ipsum. Quisque ut mauris et enim vehicula malesuada in vitae leo. Suspendisse pellentesque scelerisque lacus condimentum hendrerit. Donec vitae convallis odio, sed consectetur leo. Integer nibh felis, pharetra eu tellus pellentesque, condimentum feugiat dui. Phasellus tempus convallis posuere. Morbi suscipit ac odio et posuere. Vivamus maximus dignissim luctus. Praesent vitae erat et felis mollis hendrerit eget ac nisl. Duis malesuada pretium arcu, vel vulputate libero efficitur eget. Curabitur quis vestibulum arcu.
                        </br> </br>
                        </p>
                        <p style="text-align:center;"><img src="resources/example.jpg"></p>
                        <p>
                        </br> </br>
                            Praesent varius lectus ac est commodo pretium sed ut diam. Quisque rutrum ante mauris, eu ornare erat eleifend eu. Suspendisse ac magna felis. Duis sed pulvinar leo. Aliquam non imperdiet est. Cras at ligula ipsum. In et risus condimentum, facilisis erat pharetra, sollicitudin urna. Aenean in consectetur nunc, eget sollicitudin metus. Suspendisse nec mollis arcu. In dapibus mollis magna sit amet vestibulum. Aenean sed lorem eleifend, lobortis ante at, tempor tortor. Suspendisse interdum, magna nec consectetur blandit, metus eros scelerisque arcu, in luctus dolor nulla in sem. Ut venenatis turpis facilisis mi pretium feugiat. Nam eget lacinia purus. Etiam ut sem leo. Nulla felis elit, egestas nec dolor eu, cursus tempor massa.
                        </br> </br>
                            Donec in dapibus ipsum. Fusce cursus ligula interdum mauris fringilla dignissim. Praesent elementum volutpat neque, at aliquet sem venenatis a. Pellentesque pharetra volutpat mollis. Ut vel tortor id lectus cursus egestas. Donec sit amet libero metus. Integer auctor commodo neque. Phasellus egestas nulla id lectus ornare, ut pellentesque tellus tincidunt. Nunc sed turpis ex. Nulla suscipit dui id condimentum sollicitudin.
                    </p>
                    <div class="blog-navigation">
                        <a> << Nowszy post </a>
                        <a> Starszy post >> </a>
                    </div>
                </div>
            </div>
            <div class="footer">
                <img src="resources/footer.png">
            </div>
        </div>
    </body>
</html>