<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{/styles.css}">
        <link rel="stylesheet" th:href="@{/blog-styles.css}">

        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body onload="document.body.style.opacity='1'">
    <!-- HEADER -->
    <div class="header">
        <div class="flex-header">
            <div class="quick-contact-flex">
                <a href="#link" id="quick-contact-address" th:text="${lokalizacja.title}"> address </a>
                <a href="#link" id="quick-contact-phone" th:text="${kontakt.title}"> phone </a>
            </div>
            <div class="navigation-link-flex">
                <a th:href="@{/}">o nas</a>
                <a th:href="@{/office}">dla firm</a>
                <a th:href="@{/blog}">blog</a>
                <a href="#kontakt">kontakt</a>
                <a href="#rekomendacje">rekomendacje</a>
                <a href="#partnerzy">partnerzy</a>
                <img th:src="@{images/logo.png}" width="85" height="85">
            </div>
        </div>
        <div class="separator"></div>
    </div>

        <!-- WRAPPER -->
        <div class="wrapper">
            <div class="blog-space">
                <div class="blog-post">
                    <h1 th:text="${currentPost.title}"> Title </h1>
                    <div>
                        <hr>
                    </div>
                    <h3 th:text="${currentPost.author} + ', ' + ${currentPost.createdAt}"> Author, date </h3>
                    <p th:text="${currentPost.content}"> Content </p>
                </div>
                <div class="blog-navigation">
                    <span th:if="${olderPost != null}">
                        <a th:href="@{'/blog/' + ${olderPost.id}}">
                            <span><< Starszy post</span>
                        </a>
                    </span>
                    <span th:if="${newerPost != null}">
                        <a th:href="@{'/blog/' + ${newerPost.id}}"> <!-- Property or field 'id' cannot be found on null -->
                            <span>Nowszy post >></span>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="footer">
            <img th:src="@{images/footer.png}">
        </div>
    </body>
</html>