<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{/styles.css}">
        <link rel="stylesheet" th:href="@{/blog-styles.css}">

        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body onload="document.body.style.opacity='1'">
        <!-- HEADER -->
        <div class="header">
            <div class="flex-header">
                <div class="quick-contact-flex">
                    <a href="#link" id="quick-contact-address">ul. Gdańska 28/4</a>
                    <a href="#link" id="quick-contact-phone">+48 731 278 308</a>
                </div>
                <a href="#link">o nas</a>
                <a href="#link">oferta</a>
                <a href="#link">rekomendacje</a>
                <a href="#link">kontakt</a>
                <a href="#link">blog</a>
                <img src="resources/logo.png" width="85" height="85">
            </div>
            <div class="separator"></div>
        </div>

        <!-- WRAPPER -->
        <div class="wrapper">
            <div class="blog-space">
                <div class="blog-post">
                    <h1 th:text="${currentPost.title}"> Title </h1>
                    <div>
                        <hr>
                    </div>
                    <h3 th:text="${currentPost.author} + ', ' + ${currentPost.createdAt}"> Author, date </h3>
                    <p th:text="${currentPost.content}"> Content </p>
                </div>
                <div class="blog-navigation">
                    <a th:href="@{'/blog/' + ${currentPost.id - 1}}">
                        <span><< Starszy post</span>
                    </a>
                    <a th:href="@{'/blog/' + ${currentPost.id + 1}}">
                        <span>Nowszy post >></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer">
            <img src="resources/footer.png">
        </div>
    </body>
</html>