<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- STYLESHEET -->
        <link rel="stylesheet" th:href="@{/cms-styles.css}">
        <link rel="icon" th:href="@{/images/dofizjoicon.ico}">

        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <h1 style="margin-top: 75px;"> panel sterowania </h1>
        <div class="tiles-panel">
            <a class="tile" th:href="@{/cms/edit}">
                <img th:src="@{images/miniatures/browser.png}">
                <p> Edytuj treść </p>
            </a>
            <a class="tile" th:href="@{/cms/blog}">
                <img th:src="@{images/miniatures/newspaper.png}">
                <p> Edytuj blog </p>
            </a>
            <div class="tile" style="background-color: #C0C0C0;">
                <img th:src="@{images/miniatures/bar-chart.png}">
                <p> Statystyka </p>
            </div>
            <div class="tile" style="background-color: #C0C0C0;">
                <img th:src="@{images/miniatures/calendar.png}">
                <p> Kaldendarz </p>
            </div>
            <div class="tile" style="background-color: #C0C0C0;">
                <img th:src="@{images/miniatures/email.png}">
                <p> Mail </p>
            </div>
        </div>
    </body>
</html>