<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{/cms-styles.css}">
        <link rel="icon" th:href="@{/images/dofizjoicon.ico}">

        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <div class="block-grid">
                <h1 style="margin-top: 75px;"> treść </h1>
                <div class="edit-panel">
                    <form method="POST" th:action="@{/cms/edit/block}" th:object="${block}" th:each="blockItem : ${blocks}">
                        <div class="edit-tile">
                            <input name="title" type="text" class="input-title" th:value="${blockItem.title}"/>
                            <textarea name="content" type="text" class="input-content" th:text="${blockItem.content}"></textarea>
                            <input name="id" type="hidden" th:value="${blockItem.id}"/>
                            <button class="input-button" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="element-grid">
                <div>
                    <h1 style="margin-top: 75px;"> rekomendacje </h1>
                    <div class="review-panel">
                        <form method="POST" th:action="@{/cms/edit/review}" th:object="${review}" th:each="reviewItem : ${reviews}">
                            <div class="review-tile">
                                <input name="author" type="text" class="input-name" th:value="${reviewItem.author}"/>
                                <input name="discipline" type="text" class="input-discipline" th:value="${reviewItem.discipline}"/>
                                <textarea name="opinion" type="text" class="input-opinion" th:text="${reviewItem.opinion}"></textarea>
                                <input name="id" type="hidden" th:value="${reviewItem.id}"/>
                                <div class="buttons">
                                    <button type="submit" class="input-button" name="action" value="update">Update</button>
                                    <button type="submit" class="delete-button" name="action" value="delete">Delete</button>
                                </div>
                            </div>
                        </form>
                        <form method="POST" th:action="@{/cms/edit/review}" th:object="${review}">
                            <div class="review-tile">
                                <input name="author" type="text" class="input-name" placeholder="imię i nazwisko"/>
                                <input name="discipline" type="text" class="input-discipline" placeholder="dyscyplina"/>
                                <textarea name="opinion" type="text" class="input-opinion"></textarea>
                                <div class="buttons">
                                    <button type="submit" class="input-button" name="action" value="add">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <h1 style="margin-top: 75px;"> partnerzy </h1>
                    <div class="partner-panel">
                        <form method="POST" th:action="@{/cms/edit/partner}" th:object="${partner}" th:each="partnerItem : ${partners}">
                            <div class="partner-tile">
                                <input name="img" type="text" class="input-org" th:value="${partnerItem.img}">
                                <input name="name" type="text" class="input-image" th:value="${partnerItem.name}">
                                <textarea name="description" type="text" class="input-description" th:text="${partnerItem.description}"></textarea>
                                <input name="id" type="hidden" th:value="${partnerItem.id}">
                                <div class="buttons">
                                    <button type="submit" class="input-button" name="action" value="update">Update</button>
                                    <button type="submit" class="delete-button" name="action" value="delete">Delete</button>
                                </div>
                            </div>
                        </form>
                        <form method="POST" th:action="@{/cms/edit/partner}" th:object="${partner}">
                            <div class="partner-tile">
                                <input name="img" type="text" class="input-org" placeholder="obrazek - tylko linki!">
                                <input name="name" type="text" class="input-image" placeholder="nazwa organizacji">
                                <textarea name="description" type="text" class="input-description"></textarea>
                                <div class="buttons">
                                    <button type="submit" class="input-button" name="action" value="add">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <h1 style="margin-top: 75px;"> metody </h1>
                    <div class="method-panel">
                        <form method="POST" th:action="@{/cms/edit/method}" th:object="${method}" th:each="methodItem : ${methods}">
                            <div class="method-tile">
                                <input name="name" type="text" class="input-name" th:value="${methodItem.name}">
                                <textarea name="description" type="text" class="input-opinion" th:text="${methodItem.description}"></textarea>
                                <input name="id" type="hidden" class="input-discipline" th:value="${methodItem.id}">
                                <div class="buttons">
                                    <button type="submit" class="input-button" name="action" value="update">Update</button>
                                    <button type="submit" class="delete-button" name="action" value="delete">Delete</button>
                                </div>
                            </div>
                        </form>
                        <form method="POST" th:action="@{/cms/edit/method}" th:object="${method}">
                            <div class="method-tile">
                                <input name="name" type="text" class="input-org" placeholder="nazwa metody">
                                <textarea name="description" type="text" class="input-description"></textarea>
                                <div class="buttons">
                                    <button type="submit" class="input-button" name="action" value="add">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>