<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{/cms-styles.css}">

        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <h1 style="margin-top: 75px;"> edytuj zawartość </h1>
        <div class="edit-panel">
            <form>
                <div class="edit-tile">
                    <input type="text" class="input-title">
                    <textarea type="text" class="input-content"></textarea>
                    <button class="input-button">Update</button>
                </div>
            </form>
            <form>
                <div class="edit-tile">
                    <input type="text" class="input-title">
                    <textarea type="text" class="input-content"></textarea>
                    <button class="input-button">Update</button>
                </div>
            </form>
            <form>
                <div class="edit-tile">
                    <input type="text" class="input-title">
                    <textarea type="text" class="input-content"></textarea>
                    <button class="input-button">Update</button>
                </div>
            </form>
            <form>
                <div class="edit-tile">
                    <input type="text" class="input-title">
                    <textarea type="text" class="input-content"></textarea>
                    <button class="input-button">Update</button>
                </div>
            </form>
        </div>
    </body>
</html>