<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{/styles.css}">
        <link rel="stylesheet" th:href="@{/blog-styles.css}">

        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap" rel="stylesheet">
    </head>

    <body onload="document.body.style.opacity='1'">
    <!-- HEADER -->
    <div class="header">
        <div class="flex-header">
            <div class="quick-contact-flex">
                <a href="#link" id="quick-contact-address" th:text="${lokalizacja.title}"> address </a>
                <a href="#link" id="quick-contact-phone" th:text="${kontakt.title}"> phone </a>
            </div>
            <div class="navigation-link-flex">
                <a th:href="@{/}">o nas</a>
                <a th:href="@{/office}">dla firm</a>
                <a th:href="@{/blog}">blog</a>
                <a href="#kontakt">kontakt</a>
                <a href="#rekomendacje">rekomendacje</a>
                <a href="#partnerzy">partnerzy</a>
                <img th:src="@{images/logo.png}" width="85" height="85">
            </div>
        </div>
        <div class="separator"></div>
    </div>

        <!-- WRAPPER -->
        <div class="wrapper">
            <div class="blog-space">
                <div class="blog-post">
                    <h1> oferta dla firm </h1>
                    <div>
                        <hr>
                    </div>
                    <div class="office-therapy-content">
                        <p>
                            Czy zastanawialiście się kiedyś, jak duży wpływ na wasze zdrowie ma praca biurowa?
                            Siedzenie po 8h dziennie może naprawdę odbić się na Twoim ciele, zarówno fizycznie, jak i psychicznie.
                            Do naszych gabinetów przychodzi wiele pracowników biurowych, którzy tkwią przy biurku lub telefonie przez dziesiątki godzin w ciągu tygodnia.
                            Jeśli czujesz się sztywny, obolały i przemęczony, regularny masaż leczniczy wykonywany przez wykwalifikowanych terapeutów pomoże Ci poczuć się lepiej!
                            Poświęćcie chwilę na wizualizację pozycji, które utrzymujecie przez dłuższy czas.
                            Może być ona przyczyną przyjęcia postawy zgarbionej, powodującej ból ramion, sztywność karku, a nawet bóle głowy.
                            Ludzkie ciało zostało stworzone do ruchu, co za tym idzie, przesiadywanie w jednej pozycji powoduje duże spustoszenie w organizmie. Nie tylko na poziomie układu ruchu ale też otrzewnym, krwionośnym oraz psychicznym.  
                        </p>

                        <div class="office-therapy-tile-dark">
                            <h2>dla pracowników biurowych</h2>
                            <div>
                                <hr>
                            </div>
                            <p>
                                Aby wyprostować się i poprawić naszą postawę, musimy rozluźnić i rozciągnąć mięśnie górnej części ciała, a masaż jest doskonałym sposobem, aby to osiągnąć.
                                Terapia normalizuje napięcie w mięśniach, dzięki czemu nasze ciało w naturalny sposób zacznie ponownie przyjmować zdrową postawę.
                                Masaż tkanek głębokich umożliwia mięśniom ponowne poruszanie się niezależnie od siebie, poprzez ich zmiękczenie i rozluźnienie, co jednocześnie łagodzi ból.
                                Bóle głowy i migreny są powszechnie odczuwane przez tych, którzy pracują przy komputerze lub biurku przez cały dzień.
                                Udowodniono, że masaż biurowy zmniejsza liczbę i nasilenie bólów głowy u osób cierpiących na przewlekłe migreny i jest bardzo skuteczną formą terapii zapobiegawczej.
                            </p>
                        </div>

                        <div class="office-therapy-tile-light">
                            <h2>rwa kulszowa</h2>
                            <div>
                                <hr>
                            </div>
                            <p>
                                Występowanie rwy kulszowej jest również bardzo powszechne u pracowników biurowych.
                                Nerw kulszowy jest głównym nerwem w kończynie dolnej i podczas siedzenia przez dłuższy czas, dochodzi do jego kompresji. Uciśnięty nerw może dawać mnogie objawy takie jak drętwienia, odczucie mrowienia, czy po prostu ból.
                                Masaż biurowy w zależności od potrzeb pracownika, rozluźnia mięśnie w dolnej części pleców, pośladków i nóg, które uległy przeciążeniu na skutek wielogodzinnej pozycji siedzącej i wywierają nacisk na nerw kulszowy.
                            </p>
                        </div>

                        <div class="office-therapy-tile-dark">
                            <h2>krążenie</h2>
                            <div>
                                <hr>
                            </div>
                            <p>
                                Kolejną wielką zaletą masażu jest to, że pobudza on przepływ krwi w całym naszym ciele.
                                Siedzenie na krześle przez 8 lub więcej godzin dziennie spowalnia i znacznie upośledza funkcjonowanie układu krwionośnego w organizmie.
                                Podczas masażu wywierany jest nacisk, krew jest wtedy przepychana przez wszelkie zatłoczone miejsca, a kiedy nacisk jest zwolniony, napływa nowa, bogatka w składniki odżywcze -zdrowa krew.
                                Usprawnione krążenie dostarcza uszkodzonym lub napiętym mięśniom bogatą w tlen krew, której potrzebują, aby się regenerować.                        
                            </p>
                            </div>

                        <div class="office-therapy-tile-light" style="margin-bottom: 50px">
                            <h2>sfera psychiczna</h2>
                            <div>
                                <hr>
                            </div>
                            <p>
                                Istnieje wiele dowodów naukowych, że masaż biurowy redukuje napięcie psychiczne, powodując zmniejszenie ryzyka wystąpienia depresji.
                                Wypalenie zawodowe, które jest zmorą wielu pracowników, nie tylko może zostać opóźnione, ale nawet całkowicie zniwelowane.
                                Nie bez powodu mówi się w zdrowym ciele zdrowy duch!  
                            </br>
                            </br>
                                Profesjonalny masaż pomoże pracownikom wrócić do pracy na pełnych obrotach, ze skoncentrowanym umysłem i bez bólu, a co za tym idzie, zwiększy ich produktywność oraz poziom satysfakcji z wykonywanej pracy.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <img th:src="@{images/footer.png}">
            </div>
        </div>
    </body>
</html>